<template>
  <div style="height: 300px;">
      <lightning-datatable
              key-field="id"
              data={data}
              show-row-number-column
              row-number-offset={rowOffset}
              suppress-bottom-bar
              columns={columns}>
      </lightning-datatable>
  </div>
</template>
