<!--
  @File Name          : datatable.html
  @Description        : 
  @Author             : Saul Lopez
  @Group              : 
  @Last Modified By   : Saul Lopez
  @Last Modified On   : 11/12/2019, 2:01:31 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    11/12/2019   Saul Lopez     Initial Version
-->
<template>
    <div style="height: 300px;">
      <lightning-badge label="Alpha"></lightning-badge>
      <lightning-button variant="destructive" label="Destructive" title="Destructive action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
      <lightning-datatable
        key-field="id"
        data={data}
        columns={columns}>
      </lightning-datatable>
    </div>
</template>
